@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #876DF5;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.brand {
  margin-top: -7px;
}

.brand span {
  color: #FFEC02;
  
}

.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.menu li {
  list-style: none;

}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.menu a:hover {
  background-color: #FFEC02;
  color: #876DF5;
  
}

.menu .active {
  color: #FFEC02;
}

.toggle-menu,
.info-content__subtitle,
.info-content .sotial-networks {
  display: none;
}

.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2em;
}

h1 {
  font-size: clamp(4vw, 1.5em, 3em);
}

.info-content span {
  color: #FFEC02;
}

.download-cv,
.project-details-button {
  padding: 10px 20px;
  background-color: #FFEC02;
  border-color: black;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  -moz-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}

.download-cv:hover {
  background-color: azure;
  box-shadow: none;
}

.main img {
  width: 600px;
  height: 500px;
  min-height: 300px;
}

.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}

.about img {
  max-width: 100%;
  grid-column: 1/5;
}

.about-info {
  grid-column: 5/10;
  padding: 3em;
}

.about-info h2 {
  font-size: 2em;
  color: #876DF5;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: #FFEC02;
  margin-top: 5px;
  margin-bottom: 2em;
}

.about p {
  margin-bottom: 1em;
}

.portfolio,
.contact-section {
  width: 100vw;
  background-color: #876DF5;
  color: #fff;
}

.portfolio-heading {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.portfolio-heading h2,
.contact-heading h2 {
  font-size: 2.5em;
  color: #fff;
}

.portfolio .container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  background-color: #876DF5;
  margin: 1em;
}

.card__img {
  width: 100%;
  height: 150px;
  background-image: url(/pc.jpg);
  background-size: cover;
}

.card__title {
  padding: 20px;
}

.card__proyect-links {
  display: flex;
  justify-content: space-evenly;
}

.card__proyect-links a {
  color: #fff;
  text-decoration: none;
}

.card__proyect-links i {
  font-size: 1.5em;
}

.button-content {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.project-details-button a {
  text-decoration: none;
  color: #876DF5;
}


.contact-section {
  padding: 3em;
}

.container-contact {
    display: flex;
    align-items: center;
    gap: 5em;
    margin: 0 auto;
    margin-top: 2em;
}

.contact-section img {
  width: 750px;
  height: 550px;
  align-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}

.form-group textarea {
  height: 150px;
  padding: 1.5em;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.form-group .input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.form-group .btn-submit {
    padding: 10px 20px;
    background-color: #FFEC02;
    border-color: black;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    -webkit-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
    -moz-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}
.form-group .btn-submit:hover {
    background-color: azure;
    box-shadow: none;
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  padding: 2em;
  background-color: #FFEC02;
}

.footer-content h2 {
  font-size: 3em;
}

.footer-content h5 {
  font-size: 1.5em;
  text-align: center;
}

.sotial-networks {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
  }
.sotial-networks i {
    font-size: 1.5em;
    color: #000;
    cursor: pointer;
  }

.portfolio,
.contact-section {
  width: 100vw;
  background-color: #876DF5;
  color: #fff;
}

.portfolio-heading {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
}

.portfolio-heading h2,
.contact-heading h2 {
  font-size: 2.5em;
  color: #fff;
}

.portfolio .container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  background-color: #9782f7;
  margin: 1em;
}

.card__img {
  width: 100%;
  height: 150px;
  background-image: url(../img/2-original.png);
  background-size: cover;
}

.card__title {
  padding: 20px;
}

.card__proyect-links {
  display: flex;
  justify-content: space-evenly;
}

.card__proyect-links a {
  color: #fff;
  text-decoration: none;
}

.card__proyect-links i {
  font-size: 1.5em;
}

.button-content {
  display: flex;
  justify-content: center;
  margin: 1em;
  
}

.project-details-button a {
    padding: 10px 20px;
  background-color: #FFEC02;
  border-color: black;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  color: black;
  -webkit-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  -moz-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}

.contact-section {
  padding: 3em;
}

.container-contact {
  margin: 0 auto;
  margin-top: 10em;
}

.contact-section img {
  width: 750px;
  height: 700px;
  bottom: 0px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}

.form-group textarea {
  height: 150px;
  padding: 1.5em;
  background: none;
  border: 1.5px solid #fff;
  color: #fff;
}

.form-group .input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: n;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.form-group .input::placeholder {
    color: #fff;  
    font-family: 'Montserrat', sans-serif;
}  
.form-group textarea::placeholder {
    color: #fff; 
    font-family: 'Montserrat', sans-serif;
}

.form-group .btn-submit {
    padding: 10px 20px;
  background-color: #FFEC02;
  border-color: black;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  -moz-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  padding: 2em;
  background-color: #FFEC02;
}

.footer-content h2 {
  font-size: 3em;
}

.footer-content h5 {
  font-size: 1.5em;
  text-align: center;
}

.sotial-networks {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.sotial-networks i {
  font-size: 1.5em;
}

@media screen and (max-width: 800px) {

  .menu {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #876DF5;
    z-index: 1;
    transform: translateX(-110%);
    transition: all .5s ease-in-out;
  }

  .show-menu {
    transform: translateX(0%);
    transition: all .5s ease-in-out;
  }

  .menu li {
    margin: 2em;
  }

  .toggle-menu {
    display: block;
  }

  .fa-bars {
    font-size: 1.5em;
    margin-top: -.2em;
  }

  .toggle-menu .fa-close {
    font-size: 1.7em;
    display: none;
  }

  .main,
  .about {
    display: flex;
    flex-direction: column-reverse;
  }

  .main img {
    width: min(70%, 350px);
    height: auto;
  }

  .info-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .info-content .sotial-networks,
  .info-content__subtitle {
    display: block;
  }

  .info-content__subtitle {
    margin-bottom: .5em;
  }

  .info-content .sotial-networks {
    display: flex;
    justify-content: space-evenly;

  }

  .download-cv,
  .info-content__p,
  .contact-section__img {
    display: none;
  }

  .form-group {
    width: 80vw;

  }

}