@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #876DF5;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.brand {
  margin-top: -7px;
}

.brand span {
  color: #FFEC02;
  
}

.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.menu li {
  list-style: none;

}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.menu a:hover {
  background-color: #FFEC02;
  color: #876DF5;
}

.menu .active {
  color: #FFEC02;
}

.toggle-menu,
.info-content__subtitle,
.info-content .sotial-networks {
  display: none;
}

.main {
  margin: 0 auto;
  width: 80vw;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2em;
}

h1 {
  font-size: clamp(4vw, 1.5em, 3em);
  padding-bottom: 7px;
}

.info-content span {
  color: #FFEC02;
}

.download-cv,
.project-details-button {
  padding: 10px 20px;
  background-color: #FFEC02;
  border-color: black;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  -moz-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}

.download-cv:hover {
  background-color: azure;
  box-shadow: none;
}

.main img {
  width: 75vh;
  height: 75vh;
  min-height: 35vh;
}

.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}

.about img {
  max-width: 100%;
  grid-column: 1/5;
}

.about-info {
  grid-column: 5/10;
  padding: 3em;
}

.about-info h2 {
  font-size: 2em;
  color: #876DF5;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: #FFEC02;
  margin-top: 5px;
  margin-bottom: 2em;
}

.about p {
  margin-bottom: 1em;
}

.portfolio,
.contact-section {
  width: 100vw;
  background-color: #876DF5;
  color: #fff;
}


.contact-section {
  padding: 3em;
}

.container-contact {
    display: flex;
    align-items: left;
    gap: 5em;
    margin: 0 auto;
    margin-top: 2em;
}

.contact-section img {
  width: 750px;
  height: 550px;
  align-content: left;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}

.form-group textarea {
  height: 150px;
  padding: 1.5em;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.form-group .input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.form-group .btn-submit {
    padding: 10px 20px;
    background-color: #FFEC02;
    border-color: black;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    -webkit-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
    -moz-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}
.form-group .btn-submit:hover {
    background-color: azure;
    box-shadow: none;
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  padding: 2em;
  background-color: #FFEC02;
}

.footer-content h2 {
  font-size: 3em;
}

.footer-content h5 {
  font-size: 1.5em;
  text-align: center;
}

.sotial-networks {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
  }
.sotial-networks i {
    font-size: 1.5em;
    color: #000;
    cursor: pointer;
  }

.contact-section, .skills, .col {
  width: 100vw;
  background-color: #876DF5;
  color: #fff;
}

/* SECCION S K I L L S */
skills{
  background-color: #876DF5;
  color: #fff;
  padding: 50px 20px;
}

.skills .contenido-seccion{
  max-width: 1100px;
  margin: auto;
}
.skills h2{
  font-size: 2em;
  text-align: left;
  padding: 20px 0;
  

}
.skills .fila{
  display: flex;
}
.skills .fila .col{
  width: 50%;
  padding: 0 20px;
}
.skills .fila .col h3{
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 8px;
  padding: 10px 0px 10px 0px;
}


.skills .skill > span{
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}
.skills .skill .barra-skill{
  height: 8px;
  width: 80%;
  background-color: #131517;
  position: relative;
  margin-bottom: 30px;
}
.skills .skill .progreso{
  background-color: #FFEC02;
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
}
.skills .skill .barra-skill span{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #FFEC02;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  top: -17px;
  right: -15px;
  font-size: 14px;
}
/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .javascript{
  width: 0%;
  animation: 2s javascript forwards;
}
@keyframes javascript {
  0%{width: 0%;}
  100%{width: 75%;}
}
.skills .skill .htmlcss{
  width: 0%;
  animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
  0%{width: 0%;}
  100%{width: 89%;}
}

.skills .skill .photoshop{
  width: 0%;
  animation: 2s photoshop forwards;
}
@keyframes photoshop {
  0%{width: 0%;}
  100%{width: 95%;}
}

.skills .skill .wordpress{
  width: 0%;
  animation: 2s wordpress forwards;
}
@keyframes wordpress {
  0%{width: 0%;}
  100%{width: 81%;}
}

.skills .skill .figma{
  width: 0%;
  animation: 2s figma forwards;
}
@keyframes figma {
  0%{width: 0%;}
  100%{width: 55%;}
}

.skills .skill .comunicacion{
  width: 0%;
  animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
  0%{width: 0%;}
  100%{width: 80%;}
}

.skills .skill .trabajo{
  width: 0%;
  animation: 2s trabajo forwards;
}
@keyframes trabajo {
  0%{width: 0%;}
  100%{width: 70%;}
}

.skills .skill .creatividad{
  width: 0%;
  animation: 2s creatividad forwards;
}
@keyframes creatividad {
  0%{width: 0%;}
  100%{width: 99%;}
}

.skills .skill .dedicacion{
  width: 0%;
  animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
  0%{width: 0%;}
  100%{width: 80%;}
}

.skills .skill .proyect{
  width: 0%;
  animation: 2s proyect forwards;
}
@keyframes proyect {
  0%{width: 0%;}
  100%{width: 94%;}
}/* SECCION PORTFOLIO */
.portfolio{
  background-color: #876DF5;
  color: #fff;
  padding: 50px 20px;
}
.portfolio .contenido-seccion{
  max-width: 1100px;
  margin: auto;
}
.project_a{
  text-decoration: none;
}
.project_a:visited {
  color: #fff;
}

.portfolio h2{
  font-size: 2em;
  font-family: 'Montserrat';
  text-align: left;
  padding: 20px 0;
}
.portfolio .galeria{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.portfolio .galeria .proyecto{
  position: relative;
  max-width: 340px;
  height: fit-content;
  margin: 10px;
  cursor: pointer;
}
.portfolio .galeria .proyecto img{
  width: 100%;
  display: block;
}
.portfolio .galeria .proyecto .overlay{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(#a18ef6,#9f8afc);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
  font-size: 18px;
  letter-spacing: 3px;
  opacity: 0;
}
.portfolio .galeria .proyecto .overlay h3{
  margin-bottom: 20px;
  transition: 1s;
}
.portfolio .galeria .proyecto .overlay:hover{
  opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3{
  margin-bottom: 0px;
}

/*seccion de contacto*/
.contact-heading h2{
  font-size: 2.5em;
  color: #fff;
}

.contact-section {
  padding: 3em;
}

.container-contact {
  margin: 0 auto;
  margin-top: 10em;
}

.contact-section img {
  width: 750px;
  height: 700px;
  bottom: 0px;
  
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}

.form-group textarea {
  height: 150px;
  padding: 1.5em;
  background: none;
  border: 1.5px solid #fff;
  color: #fff;
}

.form-group .input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: n;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.form-group .input::placeholder {
    color: #fff;  
    font-family: 'Montserrat', sans-serif;
}  
.form-group textarea::placeholder {
    color: #fff; 
    font-family: 'Montserrat', sans-serif;
}

.form-group .btn-submit {
    padding: 10px 20px;
  background-color: #FFEC02;
  border-color: black;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  -moz-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  padding: 2em;
  background-color: #FFEC02;
}

.footer-content h2 {
  font-size: 3em;
}

.footer-content h5 {
  font-size: 1.5em;
  text-align: center;
}

.sotial-networks {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.sotial-networks i {
  font-size: 1.5em;
}
/*Sección de Responsive*/
@media screen and (max-width: 800px) {

  .menu {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #876DF5;
    z-index: 1;
    transform: translateX(-110%);
    transition: all .5s ease-in-out;
  }

  .show-menu {
    transform: translateX(0%);
    transition: all .5s ease-in-out;
  }

  .menu li {
    margin: 2em;
  }

  .toggle-menu {
    display: block;
  }

  .fa-bars {
    font-size: 1.5em;
    margin-top: -.2em;
  }

  .toggle-menu .fa-close {
    font-size: 1.7em;
    display: none;
  }

  .main,
  .about {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .main img {
    width: min(90%, 35vh);
    height: auto;
  }

  .info-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .info-content .sotial-networks,
  .info-content__subtitle {
    display: block;
  }

  .info-content__subtitle {
    margin-bottom: .5em;
  }

  .info-content .sotial-networks {
    display: flex;
    justify-content: space-evenly;

  }

  .download-cv,
  .info-content__p,
  .contact-section__img {
    display: none;
  }

  .form-group {
    width: 80vw;

  }
  footer .arriba{
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 5em;
    height: 5em;
    color: #4A16EE;

    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
.arriba_container {
  align-items: center;
  justify-content: center;
}

}
